/* 
Base Rules
	A Base rule is applied to an element using an element selector, a descendent selector, or a child selector, along with any pseudoclasses. It doesn’t include any class or ID selectors. It is defining the default styling for how that element should look in all occurrences on the page.
*/

body {
    color: $color;
    //font-family: 'Open Sans', sans-serif;
    @include body-font-regular;
    //font-size: 20px;
    @include fontSize(20px);
    line-height: 1.25;
    margin: 20px auto;
    max-width: 550px;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    //font-family: 'Open Sans Condensed', sans-serif;
    @include headline-font;
    line-height: 1;
}


            
          
       
h1 {
    @include fontSize(80px);
    margin-bottom: 75px;
    text-transform: capitalize;
}

 

//p:first-of-type {
//    @include fontSize(30px);
//}

//p:first-child {
//    @include fontSize(30px);
//}

title + p {
    @include fontSize(40px);
}


//h1 + p {
 //   @include fontSize(25px);
//}


h2 {
    @include fontSize(40px);
    color: #800080;
    margin-top: 5px;
    margin-bottom: 8px;
    
    //border-bottom: 1px solid $color;
}

h2 + p {
    @include fontSize(40px);
    margin-top: 0;
    margin-bottom: 60px;
    
}



h3, h4, h5, h6 + p {
    @include fontSize(40px);
   color: #800080;
}

h3 {
    @include fontSize(40px);
    margin-top: 5px;
    margin-bottom: 8px;
    text-transform: capitalize;
    color: #800080;
}

h3 + p {
    margin-top: 20px;
    margin-bottom: 60px;
   
}

h4 {
    @include fontSize(40px);
    margin-top: 5px;
    margin-bottom: 8px;
    color: #800080;
}

h4 + p {
    margin-top: 20px;
    margin-bottom: 60px;
}


h5 {
    @include fontSize(40px);
    margin-top: 5px;
    margin-bottom: 8px;
    color: #800080;
}

h5 + p {
    margin-top: 0;
    margin-bottom: 80px;
}

    
h6 {
    @include fontSize(40px);
    margin-top: 5px;
    margin-bottom: 20px;
    color: #800080;
}

h6 + p {
    margin-top: 0; 
    margin-bottom: 60px;
    
}
    
p {
    margin-bottom: 40px;

}

i, em {
    @include body-font-italic; 
}

b, strong {
    @include body-font-bold;
}

a {
    background-color: $background-color;
    border-radius: 4px;
    color: $color;
    @include body-font-italic;
    padding: 0 4px 2px 4px;
    transition: background-color 300ms linear;
    transition: color 300ms linear;
}

a:hover {
    background-color: lighten($background-color, 5%);
    color: lighten($color, 40%);
    transition: background-color 300ms linear;
    transition: color 300ms linear;
}

ul {
    margin: 0 0 20px 22px;
    padding: 0;
}

//ol {
//    list-style-type: decimal-leading-zero;
//    margin: 0 0 0 40px;
//    padding: 0;
//}
//
//ol li {
//    margin-bottom: 8px;
//}
//
//p + ul, p + ol {
//    margin-top: -18px;
//}
//
blockquote {
  color:#000000;
    background-color: $background-color;
    padding: 16px;
   margin: 0 0 20px 0;
}
//
blockquote p {
    color:#000000;
    margin-top: 0;
}

blockquote cite {
    color:#000000;
    display: block;
    @include body-font-bold;
    text-align: right;
}

body{
    @include body-font-regular;
    @include fontSize(18px);
    line-height: 1.4;
    margin: 0 auto;
    max-width: 550px;
    width: 100%;
    
}

dt {
    @include body-font-bold; 
    //margin: 0 0 
}

dd {
    margin: 0 0 0 30px;
}



main[role="role"]  {
    @include fontSize(20px);
}


header[role="banner"] {
    //border-bottom: 2px #989898 solid;
    //border-top: 2px #989898 solid;
    color: #006400;
    margin: 5px 0;
    padding: 5px 0;
}

footer[role="contentinfo"] small {
    border-top: 1px #989898 solid;
    display: block;
    @include fontSize(20px);
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 15px;
    
    
}